.card_like_group {
    display: flex;
}

.card_like_group span {
    background: rgb(242, 243, 245);
    margin: 0 10px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
}

.card_like_group span:hover {
    background: rgb(170, 63, 31);
    color: #fff;
}

.card_like_group span i {
    margin-right: 5px;
}

.project_block {
    width: 90%;
    text-align: left;
    margin: 20px auto;
    background: #fff;
    filter: drop-shadow(2px 2px 20px rgba(101, 112, 118, 0.5));
    padding: 10px;
    border-radius: 20px;
}

.profile_field_diogram {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_block .profile_field {
    margin: 10px;
    font-size: 20px;
}

.profile_field_title {
    font-weight: bold;
    color: #aa3f1f;
    margin-right: 10px;
    font-size: 22px;
}

.profile_field_category {
    padding: 3px 8px;
    background: rgb(101, 112, 118);
    color: #fff;
    border-radius: 4px;
}

.profile_field_flex {
    display: flex;
    align-items: center;
}

.CircularProgressbar {
    width: 100px;
    vertical-align: middle;
}

.project_block_group {
    display: flex;
    justify-content: space-between;
    width: calc(90% + 20px);
    margin: 20px auto;
}

.project_block_group .project_block {
    width: 47%;
    margin: 0;
}

@media (max-width: 1000px) {
    .project_block_group .project_block {
        width: 46%;
    }
}

@media (max-width: 700px) {
    .project_block_group {
        flex-direction: column;
    }

    .project_block_group .project_block {
        width: unset;
    }

    .project_block_group .project_block {
        margin-bottom: 20px;
    }
}
