.btn {
    color: #fff;
    background: rgb(170,63,31);
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    outline: 0px;
    text-align: center;
    border: 0px;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
}

.btn:hover {
    background: rgb(170, 83, 57);
}