@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova.eot");
    src: url("../fonts/ProximaNova.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova.woff") format("woff"),
        url("../fonts/ProximaNova.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    background-image: url(img/background2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: 0;
    padding: 0;
    font-family: ProximaNova, sans-serif;
    color: #34495e;
    /* background-color: #f0f4f7; */
}

a {
    text-decoration: none;
}

.title {
    margin: 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #aa3f1f;
    text-align: center;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.module {
    flex-grow: 1;
}

.content {
    margin: 0 20px;
}

.form_login,
.form_create {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

.form_login input,
.form_create input {
    margin-bottom: 20px;
}

.btn {
    color: #fff;
    background: rgb(170, 63, 31);
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    outline: 0px;
    text-align: center;
    border: 0px;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
}

.btn:hover {
    background: rgb(170, 83, 57);
}

.form_login .btn,
.form_create .btn {
    margin: 0
}

.form_login .subtitle,
.form_create .subtitle {
    text-align: center;
    margin: 10px;
    cursor: pointer;
    font-size: 14px;
}

.form_login .title,
.form_create .title {
    margin: 10px;
    text-align: center;
    font-size: 22px;
    color: #454545;
}

.title_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_group i {
    cursor: pointer;
    color: #aa3f1f;
}

.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
}

.popup_blocks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.popup_block {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    margin: 10px;
    align-items: center;
    background: #f0f4f7;
    border-radius: 8px;
}

.popup_block .far {
    font-size: 24px;
    margin-bottom: 5px;
}

.popup_block:hover {
    background: #ecf6fe;
    cursor: pointer;
}

.popup_close_panel {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    bottom: 0;
    margin: auto;
}

.popup_close .fas {
    cursor: pointer;
}

.popup_close .fas:hover {
    opacity: 0.8;
}

.popup_content {
    position: absolute;
    background: #fff;
    border-radius: 4px;
    z-index: 101;
    padding: 20px;
    min-width: 280px;
    max-width: 500px;
}

.popup_content .popup_text {
    max-height: 300px;
    overflow-x: scroll;
    margin: 0 20px;
}

.popup_close {
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

.flexible_image {
    max-width: 100%;
    border: 3px solid rgb(170, 63, 31);
}

#filter {
    margin-left: 10px;
    font-size: 24px;
    cursor: pointer;
}

.filter {
    margin: 10px 40px;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #aa3f1f;
}

.filter_block_tags,
.filter_block_params {
    margin: 10px 40px;
    display: flex;
    align-items: center;
}

.filter_block_tags div {
    background: #657076;
    color: #Fff;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 5px 20px;
    cursor: pointer;
}

.filter_block_params div {
    background: #fff;
}

.not_found {
    text-align: center;
    font-size: 30px;
}

@media (max-width: 1000px) {
    html {
        background-size: unset;
    }
}

@media (max-width: 700px) {
    .form_login, .form_create {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .filter_block_tags {
        flex-direction: column;
    }
}
