@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova.eot");
    src: url("../fonts/ProximaNova.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova.woff") format("woff"),
        url("../fonts/ProximaNova.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: ProximaNova, sans-serif;
    color: #34495e;
    background-color: #f0f4f7;
}

a {
    text-decoration: none;
}

.title {
    margin: 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #3F3356;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.module {
    flex-grow: 1;
}

.content {
    margin: 0 20px;
}
