@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova.eot");
    src: url("../fonts/ProximaNova.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova.woff") format("woff"),
        url("../fonts/ProximaNova.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: ProximaNova, sans-serif;
    color: #34495e;
    background-color: #f0f4f7;
}
