@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova.eot");
    src: url("../fonts/ProximaNova.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova.woff") format("woff"),
        url("../fonts/ProximaNova.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: ProximaNova, sans-serif;
    color: #34495e;
    background-color: #f0f4f7;
}

a {
    text-decoration: none;
}

.title {
    margin: 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #3F3356;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.module {
    flex-grow: 1;
}

.content {
    margin: 0 20px;
}

.form_login {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

.form_login input {
    margin-bottom: 20px;
}

.btn {
    color: #fff;
    background-color: #6795fc;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    outline: 0px;
    text-align: center;
    border: 0px;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
}

.btn:hover {
    background: #6795fcd9;
}

.form_login .btn {
    margin: 0
}

.form_login .subtitle {
    text-align: center;
    margin: 10px;
    cursor: pointer;
    font-size: 14px;
}

.form_login .title {
    margin: 10px;
    text-align: center;
    font-size: 22px;
    color: #454545;
}
